__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
.DS_Store
.worktrees/
docs/superpowers/*
CLAUDE.md
DESIGN.md
.claude/*
docs/superpowers/plans/2026-05-10-approval-workflow.md
docs/superpowers/*
